* {
  font-family:'Montserrat';
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.middle{
  position: absolute;
  top: 80%;
  left: 49.9%;
  transform: translate(-50%,-50%);
  text-align: center;
  
}
.btn{
  background : none;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Montserrat"; 
  text-transform: uppercase;
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  color: white;
  margin-top: 25px;
}
.btn:hover{
  color:rgb(0, 0, 0);
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
  transform: scaleX(0);
}

.btn1:hover::before{
  transform: scaleX(1);
}

div {
  margin: 0px auto;
  width: 30%;
  padding: 5;
  font-size: 16px;
}


input[type=label], label{
  margin: 0px auto;
  width: 30%;
  padding: 5;
  font-size: 14px;
}

input[type=label], select{
  margin: 0px auto;
  width: 45%;
  padding: 10px;
  font-size: 14px;
  border-radius: 7px;
}

input[type=submit]{
  width: 100%;
  background-color: #990085;
  color: white;
  padding: 15px;
  margin:15px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
}

input[type=radio]{
  accent-color: #990085;
}

input[type=submit]:hover{
  background-color: #2f4f4f;
}
h1{
  color: #dadada;
  text-align: center;
}
div label{
  color: white;
  font-size: 18px;
}

.judul {
  font-size: 60px;
  font-family: 'Montserrat';font-size: 35px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 10px;
}

